{% extends 'layout_with_menu.jinja2' %}

{% block title %}
{% if event.name %}
    Veranstaltung {{ event.name }} läuft!
{% else %}
    Veranstaltung läuft!
{% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/welcome_screen/welcome_screen.css">
{% endblock %}

{% block main_content %}
<div id="central-container">
    <p>{{ event.name or 'Veranstaltung' }} läuft!</p>
    <p>Beginn: {{ '{start.day}. {start:%B} {start.year}, {start.hour} Uhr'.format(start=event.start_time) }}</p>
    <p><a href="/event/{{ event.start_time.timestamp() | int }}/selector">Bestellungen erfassen</a></p>
    <form method="POST" action="/stop_event">
        <button type="submit">Veranstaltung beenden</button>
    </form>
</div>
{% endblock %}
