{% extends 'layout_with_menu.jinja2' %}

{% block title %}Herzlich Willkommen!{% endblock %}

{% block css %}
<link rel="stylesheet" href="/welcome_screen/welcome_screen.css">
{% endblock %}

{% block main_content %}
<form id="central-container" method="POST" action="/start_event">
    <label for="window-grates">
        <input type="checkbox" id="window-grates"><span>Sind die Fenstergitter offen?</span>
    </label>
    <label for="outdoor-lights">
        <input type="checkbox" id="outdoor-lights"><span>Sind Außenlicht und Außenwerbung eingeschaltet?</span>
    </label>
    <label for="event-name">Veranstaltung:
        <input type="text" id="event-name">
    </label>
    <button type="submit">Veranstaltung beginnen</button>
</form>
{% endblock %}
