<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/base.css">
  {% filter indent(width=2) %}{% block static %}{% endblock %}{% endfilter %}
</head>

<body>
{% block content %}{% endblock %}
</body>

</html>
