#drink-grid {
    max-width: 1000px;
    height: 100%;
    max-height: 800px;

    display: grid;
    grid: repeat(5, 1fr) / repeat(5, 1fr);

    list-style-type: none;
    margin: 0;
    padding: 0;
}

#drink-grid li {
    display: flex;
}

#drink-grid li > * {
    flex-grow: 1;
    cursor: pointer;
    touch-action: manipulation;

    border: solid cyan 1px;
    border-radius: .25rem;

    font-size: .75em;
}

#drink-grid button {
    background: none;
    font-family: system-ui, sans-serif;
}

#drink-grid a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: black;
    text-decoration: none;
}

@media (width >= 1000px) {
    #drink-grid {
        gap: .5rem;
    }

    #drink-grid li > * {
        padding: 1em;

        font-size: 1em;
    }
}
