{% extends 'layout_with_menu.jinja2' %}

{% block title %}Getränke-Auswahl{% endblock %}

{% block css %}
<link rel="stylesheet" href="/drink_selector/drink_selector.css">
{% endblock %}

{% block js %}
{% set script = 'autosubmit' if autosubmit else 'manual_submit' %}
<script type="module" src="/drink_selector/{{ script }}.js" defer></script>
{% endblock %}

{% macro order_list_child(display_name, name, price) %}
<li data-order-name="{{ name }}">
    <span class="name">{{ display_name }}</span>
    <span class="price">{{ price | euro }}</span>
    <i class="bi-trash hidden"></i>
    <input class="hidden" name="order" value="{{ name }}">
</li>
{% endmacro %}

{% block main_content %}
{% set action = '/orders/submit' if autosubmit else '/orders/add' %}
<div id="drink-grid" data-autosubmit="{{ autosubmit | string | lower }}">
    <form class="main-form" method="POST" action="{{ action }}">
        <input class="hidden" name="event" value="{{ event_id }}">
        <ul class="selector-list">
            {% for row in layout.buttons %}
                {% for button in row %}
                    {% if button is none %}
                        <li></li>
                    {% elif button.is_order_button %}
                        <li><button type="submit" name="order" value="{{ button.drink_name }}">{{ button.display_name }}</button></li>
                    {% elif button.is_link %}
                        <li><a href="?layout={{ button.layout }}{{ '' if autosubmit else '&autosubmit=false' }}">
                            <i class="bi-folder"></i>{{ button.display_name }}
                        </a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </form>
    <div class="sidebar">
        <form class="settings" method="POST" action="/settings/drink_selector">
            <input type="checkbox" name="autosubmit" id="autosubmit" {{ 'checked' if autosubmit else '' }}>
            <label for="autosubmit">Automatisch eintragen</label>
            <button type="submit" value="">Einstellungen speichern</button>
        </form>
        {% if not autosubmit %}
            <form method="POST" action="/orders/submit">
                <div class="order-list">
                    <h1>Bestellungen</h1>
                    <input class="hidden" name="event" value="{{ event_id }}">
                    <ul>
                        {% for drink in stored_drinks %}
                        {{ order_list_child(drink.display_name, drink.name, drink.price) }}
                        {% else %}
                        <li>Wird geladen…</li>
                        {% endfor %}
                    </ul>
                    <p>Summe: <span class="sum">…</span></p>
                    <button class="submit" type="submit">Eintragen</button>
                    <button class="reset" type="submit" formaction="/orders/clear">Zurücksetzen</button>
                </div>
            </form>
        {% endif %}
    </div>
</div>

<template id="order-list-child">
{{ order_list_child('', '', 0) }}
</template>
{% endblock %}
