{% extends 'layout_with_menu.jinja2' %}

{% block title %}Getränke-Auswahl{% endblock %}

{% block css %}
<link rel="stylesheet" href="/drink_selector/drink_selector.css">
{% endblock %}
{% block js %}
<script type="module" src="/drink_selector/drink_selector.js" defer></script>
{% endblock %}

{% block main_content %}
{% set action = '/submit_order' if autosubmit else '/add_order' %}
<form id="drink-grid" method="POST" action="{{ action }}" data-autosubmit="{{ autosubmit | string | lower }}">
    <input class="hidden" name="event" value="{{ event_id }}">
    <ul>
        {% for row in layout.buttons %}
            {% for button in row %}
                {% if button is none %}
                    <li></li>
                {% elif button.is_order_button %}
                    <li><button type="submit" name="order" value="{{ button.drink_name }}">{{ button.display_name }}</button></li>
                {% elif button.is_link %}
                    <li><a href="?layout={{ button.layout }}"><i class="bi-folder"></i>{{ button.display_name }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    {% if not autosubmit %}
        <div id="order-list">
            <h1>Bestellungen</h1>
            {% for drink in stored_drinks %}
                <li>{{ drink.display_name }}</li>
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}
