#drink-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#drink-grid .main-form {
    flex-basis: 100ex;
}

#drink-grid .selector-list {
    height: 100%;
    max-width: 100ex;
    max-height: 50em;

    display: grid;
    grid: repeat(5, 1fr) / repeat(5, 1fr);

    list-style-type: none;
    margin: 0;
    padding: 0;
}

#drink-grid .selector-list li {
    display: flex;
}

#drink-grid .selector-list li > * {
    flex-grow: 1;
    cursor: pointer;
    touch-action: manipulation;

    border: solid cyan 1px;
    border-radius: .25rem;

    font-size: .75em;
}

#drink-grid .selector-list button {
    background: none;
    font-family: system-ui, sans-serif;
}

#drink-grid .selector-list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: black;
    text-decoration: none;
}

#drink-grid .order-list {
    max-width: 30ex;
}

#drink-grid .order-list h1 {
    margin-top: 0;
}

@media (width >= 131ex) {
    #drink-grid {
        flex-wrap: nowrap;
    }

    #drink-grid .selector-list {
        gap: .5rem;
    }

    #drink-grid .selector-list li > * {
        padding: 1em;

        font-size: 1em;
    }
}
