body {
    box-sizing: border-box;
    max-width: 1000px;
    height: min(100svh, 800px);
    margin: 0;
    padding: .5rem;
}

form {
    height: 100%;
}

#drink-grid {
    height: 100%;

    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    gap: .5rem;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

#drink-grid li {
    display: flex;
}

#drink-grid li > * {
    flex-grow: 1;
    cursor: pointer;
    touch-action: manipulation;
}

#drink-grid a {
    display: flex;
    justify-content: center;
    align-items: center;

    background: lightyellow;
    border-radius: 1rem;

    text-align: center;
}
