<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Drink</title>
</head>
<body>
<ul>
    {% for drink in drinks %}
        <li>{{ drink }}</li>
    {% endfor %}
</ul>
<form method="POST" action="/add_drink">
    <label>Drink Name
        <input name="drink" type="text" autofocus>
    </label>
    <label>Display Name
        <input name="display_name" type="text">
    </label>
    <button type="submit">Submit</button>
</form>
</body>
</html>
