{% extends 'base.jinja2' %}

{% block title %}Add Drink{% endblock %}

{% block content %}
<ul>
    {% for drink in drinks %}
        <li>{{ drink }}</li>
    {% endfor %}
</ul>
<form method="POST" action="/add_drink">
    <label for="drink">Drink Name
        <input id="drink" name="drink" type="text" autofocus>
    </label>
    <label for="display-name">Display Name
        <input id="display-name" name="display_name" type="text">
    </label>
    <button type="submit">Submit</button>
</form>
{% endblock %}
